In [9]:
#1
import pandas as pd
Series1 = pd.Series([100, 200, 300, 400, 500], index=['A', 'B', 'C', 'D', 'E'])
Series2=Series1*2
print("Series1:")
print(Series1)
print("\nSeries2:")
print(Series2)

Series1:
A    100
B    200
C    300
D    400
E    500
dtype: int64

Series2:
A     200
B     400
C     600
D     800
E    1000
dtype: int64

In [ ]:
#2
# State whether True or False
# a. A series object is size mutable.          
# b. A Dataframe object is value mutable.  
     #False
     #True

In [ ]:
#3
import pandas as pd
Series1 = pd.Series([200, 201, 202, 203, 204, 700, 700, 700, 700, 700])
Series = pd.Series([200, 201, 202, 203, 204])
display(Series)

0    200
1    201
2    202
3    203
4    204
dtype: int64

In [22]:
#4
s = pd.Series([95, 89, 92, 95], index=["IP", "physics", "chemistry", "math"])
print(s["IP"])
s=s+10
print(s)

95
IP           105
physics       99
chemistry    102
math         105
dtype: int64

In [37]:
#5
import pandas as pd
SQTR = pd.Series([50000, 65890, 56780, 89000, 77900], index=["QTR1", "QTR2", "QTR3", "QTR4", "QTR5"])
print("sales Quarterly report (SQTR)")
print(SQTR)

sales Quarterly report (SQTR)
QTR1    50000
QTR2    65890
QTR3    56780
QTR4    89000
QTR5    77900
dtype: int64

In [ ]:
#6
S1 = pd.Series(data=[31, 41, 51])
print(S1 > 40)
print(S1[S1 > 40])

0    False
1     True
2     True
dtype: bool
1    41
2    51
dtype: int64

In [39]:
#7
S1 = pd.Series([39, 41, 42, 44], index=["A", "B", "C", "D"])
S2 = pd.Series([10, 10, 10, 10], index=["A", "B", "D", "F"])
print("a. S1[:2] * 100")
print(S1[:2] * 100)
print("\nb. S1 * S2")
print(S1 * S2)
print("\nc. S2[::-1] * 10")
print(S2[::-1] * 10)

a. S1[:2] * 100
A    3900
B    4100
dtype: int64

b. S1 * S2
A    390.0
B    410.0
C      NaN
D    440.0
F      NaN
dtype: float64

c. S2[::-1] * 10
F    100
D    100
B    100
A    100
dtype: int64

In [40]:
#8
S1 = pd.Series([10, 20, 30, 40], index=["A", "B", "C", "D"])
S2 = pd.Series([5, 4, 6, 8], index=["A", "B", "C", "D"])
result = S1 * S2
print(result)

A     50
B     80
C    180
D    320
dtype: int64

In [ ]:
#9
Subject = pd.Series([75, 78, 82, 86], 
                    index=["ENGLISH", "HINDI", "MATHS", "SCIENCE"])

print("Marks in different subjects:")

print(Subject)

Marks in different subjects:
ENGLISH    75
HINDI      78
MATHS      82
SCIENCE    86
dtype: int64

In [ ]:
#10
company = pd.Series([350, 200, 800, 150], 
                    index=["TCS", "Reliance", "L&T", "Wipro"])

print(company[company > 250])

company.name = "Profit"
print(company)

TCS    350
L&T    800
dtype: int64
TCS         350
Reliance    200
L&T         800
Wipro       150
Name: Profit, dtype: int64

In [ ]:
#11
a = [10, 20, 25, 50]
 
b = pd.Series([10, 20, 25, 50])

print("a * 2 →")
print(a * 2)

print("\nb * 2 →")
print(b * 2)

a * 2 →
[10, 20, 25, 50, 10, 20, 25, 50]

b * 2 →
0     20
1     40
2     50
3    100
dtype: int64

In [ ]:
#12
Given a Pandas series called Sample, the command which will display the last 3 rows is. 
a. print(Sample.tail(3)) 
b. print(Sample.Tail(3)) 
c. print(Sample.tails(3) 
d. print(Sample.Tails(3))

A. print(Sample.tail(3))

In [48]:
#13
s = pd.Series(6, index=range(0,5))
print(s)

0    6
1    6
2    6
3    6
4    6
dtype: int64

In [96]:
#14
s1=pd.Series([6,1,3,5,4,8,7,4,6,7], index=[1,3,5,7,9,11,13,15,17,19])
print(s1[3:6])

7     5
9     4
11    8
dtype: int64

In [ ]:
#15
s = pd.Series(np.arange(10,50,10))
print(s)
print(s.ndim)
print(s.shape)
print(len(s))

0    10
1    20
2    30
3    40
dtype: int64
1
(4,)
4

In [50]:
#16
s = pd.Series(np.random.randint(10, 21, size=10))

print("Series with 10 random numbers between 10 and 20:")
print(s)

Series with 10 random numbers between 10 and 20:
0    18
1    15
2    10
3    20
4    12
5    20
6    19
7    16
8    13
9    19
dtype: int32

In [51]:
#17
s = pd.Series([4.0, 5.0, 7.0, np.nan, 1.0, 10.0])
s1 = s + 1
print("After adding 1 to all elements:")
print(s1)
s2 = s.fillna(0)
print("\nAfter replacing NaN with 0:")
print(s2)

After adding 1 to all elements:
0     5.0
1     6.0
2     8.0
3     NaN
4     2.0
5    11.0
dtype: float64

After replacing NaN with 0:
0     4.0
1     5.0
2     7.0
3     0.0
4     1.0
5    10.0
dtype: float64

In [52]:
#18
data = {'one':'a','two':'b','three':'c'}
s = pd.Series(data)

print(s)
print(s.size)

one      a
two      b
three    c
dtype: object
3

In [53]:
#19
S1 = pd.Series([2, 4, 6, 8])

print(S1)

0    2
1    4
2    6
3    8
dtype: int64

In [54]:
#20
s2 = pd.Series(["i", "am", "a", "student"])
print(s2)

0          i
1         am
2          a
3    student
dtype: object

In [55]:
#21
s1 = pd.Series(200, index=range(2,13,2))
print(s1)

2     200
4     200
6     200
8     200
10    200
12    200
dtype: int64

In [56]:
#22
s1 = pd.Series(range(2, 11, 2), index=[x for x in "abcde"])
print(s1)

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [59]:
#23
x = np.arange(10, 15)           

s3 = pd.Series(index=x, data=x*2)  
s4 = pd.Series(x**2, x)             

print(s3)
print(s4)

10    20
11    22
12    24
13    26
14    28
dtype: int64
10    100
11    121
12    144
13    169
14    196
dtype: int64

In [60]:
#24
sections = ['A', 'B', 'C', 'D', 'E']
contributions = [8900, 8700, 7800, 6500, np.nan]  

contrib_series = pd.Series(data=np.array(contributions, dtype=np.float32) * 2, 
                           index=sections, 
                           dtype=np.float32)
print("Doubled Contributions by Section:")
print(contrib_series)

Doubled Contributions by Section:
A    17800.0
B    17400.0
C    15600.0
D    13000.0
E        NaN
dtype: float32

In [61]:
#25
val1 = np.arange(5.25, 50, 10.25)  # [5.25, 15.5, 25.75, 36.0, 46.25]
ser1 = pd.Series(val1, index=['a','b','a','a','b'])

print(ser1)
print(ser1['a'])
print(ser1['b'])

a     5.25
b    15.50
a    25.75
a    36.00
b    46.25
dtype: float64
a     5.25
a    25.75
a    36.00
dtype: float64
b    15.50
b    46.25
dtype: float64

In [62]:
#26
s10 = pd.Series([39, 31, 32, 34, 35], 
                index=['A', 'B', 'C', 'D', 'E'])

ticket_price = 100

collections = s10[['A', 'B']] * ticket_price

print("Number of students in each section:")
print(s10)

print("\nCollection from Section A and B:")
print(collections)

Number of students in each section:
A    39
B    31
C    32
D    34
E    35
dtype: int64

Collection from Section A and B:
A    3900
B    3100
dtype: int64

In [63]:
#27
s4 = pd.Series([2.50, 17.45, 20.25, 87.25, 33.76])

s4[0] = 1.75
s4[2:4] = -23.74

print(s4)

0     1.75
1    17.45
2   -23.74
3   -23.74
4    33.76
dtype: float64

In [74]:
#28
s1 = pd.Series([2,3,4,5,6], index=['a','b','c','d','e'])
s1[1:5:2] = 345.6
s1[2:4] = -14.65
print(s1)

a      2.00
b    345.60
c    -14.65
d    -14.65
e      6.00
dtype: float64

C:\Users\surya\AppData\Local\Temp\ipykernel_26744\3755616089.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '345.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s1[1:5:2] = 345.6

In [70]:
#29
s12 = pd.Series([8900, 8700, 7800, 6500], index=['A', 'B', 'C', 'D'])

s12['A'] = 8800
s12[['C', 'D']] = 7700

print(s12)

A    8800
B    8700
C    7700
D    7700
dtype: int64

In [75]:
#30
trainingdata = pd.Series(np.arange(1, 2001))

print("First 100 rows:")
print(trainingdata.head(100))

print("\nLast 5 rows:")
print(trainingdata.tail(5))

First 100 rows:
0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Length: 100, dtype: int64

Last 5 rows:
1995    1996
1996    1997
1997    1998
1998    1999
1999    2000
dtype: int64

In [77]:
#31
import pandas as pd

s3 = pd.Series([1.5, 3.0, 4.5, 6.0, 7.5], 
               index=['a', 'b', 'c', 'd', 'e'])

print("Original Series:")
print(s3)

print("\n(i) s3 + 3:")
print(s3 + 3)

print("\n(ii) s3 * 2:")
print(s3 * 2)

print("\n(iii) s3 > 3.0:")
print(s3 > 3.0)

print("\n(iv) s3[s3 > 3.0]:")
print(s3[s3 > 3.0])

Original Series:
a    1.5
b    3.0
c    4.5
d    6.0
e    7.5
dtype: float64

(i) s3 + 3:
a     4.5
b     6.0
c     7.5
d     9.0
e    10.5
dtype: float64

(ii) s3 * 2:
a     3.0
b     6.0
c     9.0
d    12.0
e    15.0
dtype: float64

(iii) s3 > 3.0:
a    False
b    False
c     True
d     True
e     True
dtype: bool

(iv) s3[s3 > 3.0]:
c    4.5
d    6.0
e    7.5
dtype: float64

In [79]:
#32
s12 = pd.Series([6700, 8000, 5400, 3400], 
                index=['A', 'B', 'C', 'D'])

print("Contributions of each section:")
print(s12)

Contributions of each section:
A    6700
B    8000
C    5400
D    3400
dtype: int64

In [89]:
#33
s12 = pd.Series([6700, 8000, 5400, 3400], 
                index=['A', 'B', 'C', 'D'])

print("Sections with contribution > 5600:")
print(s12[s12 > 5600])

c11 = pd.Series([160, 130, 120], index=['Science', 'Commerce', 'Humanities'])
c12 = pd.Series([140, 120, 160], index=['Science', 'Commerce', 'Humanities'])

total = c11 + c12

print("\nClass 11 students:")
print(c11)

print("\nClass 12 students:")
print(c12)

print("\nTotal students stream-wise:")
print(total)

print("\nGrand total of students in class 11 and 12:", total.sum())

Sections with contribution > 5600:
A    6700
B    8000
dtype: int64

Class 11 students:
Science       160
Commerce      130
Humanities    120
dtype: int64

Class 12 students:
Science       140
Commerce      120
Humanities    160
dtype: int64

Total students stream-wise:
Science       300
Commerce      250
Humanities    280
dtype: int64

Grand total of students in class 11 and 12: 830

In [81]:
#34
S1 = pd.Series([10, 20, 30, 40, 50], index=[0, 1, 2, 3, 4])
S2 = pd.Series([1, 2, 3, 4, 5, 6], index=[0, 1, 2, 3, 4, 5])
S3 = pd.Series([3, 6, 9, 10, 11], index=['a', 'b', 'c', 'd', 'e'])

print("Series S1:\n", S1)
print("\nSeries S2:\n", S2)
print("\nSeries S3:\n", S3)

# i) S1 + S2
print("\n(i) S1 + S2:")
print(S1 + S2)

# ii) S1 * S3
print("\n(ii) S1 * S3:")
print(S1 * S3)

# iii) S1 - S2
print("\n(iii) S1 - S2:")
print(S1 - S2)

Series S1:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

Series S2:
 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

Series S3:
 a     3
b     6
c     9
d    10
e    11
dtype: int64

(i) S1 + S2:
0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
5     NaN
dtype: float64

(ii) S1 * S3:
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

(iii) S1 - S2:
0     9.0
1    18.0
2    27.0
3    36.0
4    45.0
5     NaN
dtype: float64

In [82]:
#35
s12 = pd.Series([6700, 8000, 5400, 3400], 
                index=['D', 'A', 'B', 'C'])

print("Original Series:")
print(s12)

print("\n(i) Values sorted in descending order:")
print(s12.sort_values(ascending=False))

print("\n(ii) Indices sorted in ascending order:")
print(s12.sort_index())

Original Series:
D    6700
A    8000
B    5400
C    3400
dtype: int64

(i) Values sorted in descending order:
A    8000
D    6700
B    5400
C    3400
dtype: int64

(ii) Indices sorted in ascending order:
A    8000
B    5400
C    3400
D    6700
dtype: int64

In [85]:
#36
s13 = pd.Series([6700, 8000, 5400, 3400], index=['A', 'B', 'C', 'D'])  

s13.index = range(0, 4)  
print("Series with numeric index:\n", s13)  

s13 = s13.reset_index(drop=True)  
print("\nSeries after reset_index:\n", s13)

Series with numeric index:
 0    6700
1    8000
2    5400
3    3400
dtype: int64

Series after reset_index:
 0    6700
1    8000
2    5400
3    3400
dtype: int64

In [86]:
#37
first = [7, 8, 9]

second = pd.Series(first)

s1 = pd.Series(data=first*2)

s2 = second * 2

print("Series1:")
print(s1)

print("\nSeries2:")
print(s2)

Series1:
0    7
1    8
2    9
3    7
4    8
5    9
dtype: int64

Series2:
0    14
1    16
2    18
dtype: int64

In [91]:
#38
data = np.array(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'])

s = pd.Series(data)

print("First 4 elements:")
print(s[:4])

print("\nLast 4 elements:")
print(s[-4:])

First 4 elements:
0    Mon
1    Tue
2    Wed
3    Thu
dtype: object

Last 4 elements:
3    Thu
4    Fri
5    Sat
6    Sun
dtype: object

In [92]:
#39
data = np.array(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'])

s = pd.Series(data, index=[101, 102, 103, 104, 105, 106, 107])

print("Selected elements:")
print(s[[103, 105, 107]])

Selected elements:
103    Wed
105    Fri
107    Sun
dtype: object

In [ ]:
#40
D={'a':10,'b':11,'c':12}
S=pd.Series(D,index=['b','c','d','a'])
print(S)

b    11.0
c    12.0
d     NaN
a    10.0
dtype: float64